<div class="logobar">
    <div class="container">
        <div class="logobar-content">
            <div class="logo">
                <a href="/"><img src="${BASE_PATH }static/front/mtg/images/logo.jpg" alt="杭州泰弗尔·可优英语"></a>
            </div>
            <div class="logobar-append" style="padding-top:0px;">
                <div class="input-append" style="width: 100%;margin: 0em;">
                    <a href="#">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menubar" style="border-bottom:2px solid #3B73AF">
    <div class="container">
        <ul class="menu">
            <li class="menuitem menu-active" title="杭州泰弗尔·可优英语首页"><a href="/school?schid=775">首页</a></li>
            <li class="menuitem " title="杭州泰弗尔·可优英语简介"><a href="/school/summary?schid=775">学校简介</a></li>
            <li class="menuitem " title="杭州泰弗尔·可优英语开设课程"><a href="/course?schid=775">课程</a></li>
            <li class="menuitem " title="杭州泰弗尔·可优英语师资"><a href="/teacher?schid=775">师资</a>
            </li>
            <li class="menuitem " title="杭州泰弗尔·可优英语校区"><a href="/school/contact?schid=775">校区</a></li>
            <li class="menuitem " title="杭州泰弗尔·可优英语环境"><a href="/school-photo?schid=775">环境</a></li>
            <li class="menuitem " title="杭州泰弗尔·可优英语新闻动态"><a href="/news?schid=775">新闻动态</a></li>
        </ul>
        <div class="edu-nav-bottom-r" style="display: none;" modal="modal">
            <ul class="edu-ul">
                <li class="edu-nav-bottom-r-hover"><img src="${BASE_PATH }static/front/mtg/images/daohang.png" alt="地址图片" style="vertical-align: middle;margin-bottom: 3px"><a href="javascript:;">切换城市</a>
                    <div id="edu-nav-bottom-r-more">
                    </div>
                </li>
            </ul>
        </div>
        <div style="position: absolute;right:0;bottom: 0;">
                    <i style="color:#DC241A;font-weight: bold;font-size: 16px;margin-left: 10px;">400-968-9396</i>
        </div>
    </div>
</div>